{% extends  'header.html' %}
{% load static %}
{% block content %}
    <div class="container">

        <div class="row box" style="margin-top:20px;">
            <div class="col-md-12">
                <h2 class="purple">Error!</h2>
            </div>
        </div>
        <br clear="all">
        <div class="box" style="margin: 0px -15px 0px -15px">
            <div class="row">
                <div class="col-12">
                    <h3>Oops!</h3><br clear="all">
                    <h5>It appears we cannot find you in our system. Kindly email us at <a href="#">evelyn_mwangi@berkeley.edu</a> and we will get this sorted out ASAP.</h5>
                </div>
            </div>
        </div>
    </div>

</body>
</html>
{% endblock %}